/* -------------------------
            font
------------------------- */
body {
    font-family: 'Poppins', sans-serif;
}

/* ----------------------------
        font decroation
-------------------------------- */

h1 {
    font-weight: 700;
    font-size: 70px;
    color: #ffffff;
    margin-top: 52px;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-top: -59px;
}

.top-baner {
    display: flex;
    margin: 50px 100px;
    background-color: black;
    border-radius: 30px;
}

.half-width {
    padding-left: 70px;
    width: 531px;
    height: 420px;
    left: 269px;
    top: 165px;
}

/*----------------------
         img
----------------------- */
.half-width img {
    width: 400px;


}

/*--------------------
         button
----------------------- */
.link-button {
    text-decoration: none;
    background-image: linear-gradient(#ff0202, rgb(255, 38, 0));
    font-weight: 700;
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 5px;
}

/*-----------------
     Transfer Live
     --------------- */
.menu {
    display: flex;
    flex-direction: column;
    width: 110px;
    background-color: black;
    margin: 10px;
}

/*----------------------
     menu button
     ------------------- */
.menu {
    padding: 10px;
    border-radius: 5px;
    width: 197px;
    height: 133px;
}

.menu button {
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 800;


}

.color {
    text-decoration: none;
    background-image: linear-gradient(#ff0000, rgb(255, 38, 0));
    font-weight: 700;
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 5px;
}

/*-----------------------
        Transfer
-------------------------  */


.button {
    margin-top: 10px;
    width: 100px;
    height: 28px;
}

.Transfer {
    margin-top: 20px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: -30px;
    padding-left: 30px;
    column-gap: 20px;
}



section.container {
    display: inline-flex;
    padding-left: -30px;
}

/*--------------------- 
        footer
------------------------ */


footer {
    text-align: center;

    background-color: rgb(2, 2, 2);
    color: white;
    margin-top: 130px;

}

footer {
    margin: 0;
}

h2 {
    padding: 50px;
}



hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.social-footer-icons {
    display: grid;


    justify-self: center;
    grid-template: 20px;

}

/*-------------------------------------
             media screen only  mobile
             iphone ES
      ------------------------------------  */

@media only screen and (max-width: 688px) {
    .top-baner {

        display: flex;
        flex-direction: column;
        margin: 0px;
    }



    section.container {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }

    .courses {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .half-width {
        background-color: black;
        width: 450px;
    }



    .social-footer-icons {
        display: flex;
        flex-direction: column;


    }


}